.laws-container{
    color:white;
    text-align:left;
    padding-left:70px;
}
.laws-list{
    list-style-type: none;
    padding: 10px 0;
}

.law{
  color:white;
  padding: 10px 0;
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
}

.law::before {
  content: "•"; /* Use a custom bullet point */
  color: #ffcc00; /* Set the color of the bullet point */
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: -20px;
  font-size: 25px;
}
.lawscontainer{
  margin-bottom: 50px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media Queries for Responsive Design */
  @media only screen and (max-width: 768px) {
    .law {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .law {
      font-size: 14px;
    }
  }